
<section class="bg-light d-flex flex-row p-5 justify-content-center align-items-center rounded-3">
  <div class="container border-end">
      <h1 class="display-4">Portifólio de Guilherme Calixto Campos</h1>
      <p class="lead">Olá, me chamo Guilherme e te convido a conhecer um pouco mais sobre mim!</p>
      <p class="lead">Sou estudante de Análise e Desenvolvimento de Sistemas com foco em se tornar desenvolvedor.</p>
  </div>
  <div>
    <img src="assets/home-removebg-preview.png" alt="home" class="" />
  </div>
</section>
