<section class="bg-light d-flex flex-column flex-md-row p-5 justify-content-center align-items-center rounded-3 m-5">
  <div class="container mb-4 mb-md-0">
    <h1 class="display-4 text-center text-md-start">Portifólio de Guilherme Calixto Campos</h1>
    <p class="lead text-center text-md-start">Olá, me chamo Guilherme e te convido a conhecer um pouco mais sobre mim!</p>
    <p class="lead text-center text-md-start">Sou um jovem formado em TI buscando uma oportunidade como desenvolvedor.</p>
  </div>
  <div class="text-center text-md-start d-none d-xl-block">
    <img src="assets/home-removebg-preview.png" alt="home" class="img-fluid" style="max-width: 500px;" />
  </div>
</section>

